{% extends "base.html" %}
{% block content %}
  <div class="row top-row">
    <div class="col-lg-10 col-lg-offset-1 col-md-8 col-md-offset-2" style="text-align:center">
      <h2 width="100%">Dashboard</h2>
      <span style="text-align:left; width: 100%;">
        <h3 width="100%; text-align: left;">Today</h3>
      </span>
      <div class="col-lg-7">
        {% for nutrient, amount in data.daily_goals.iteritems() %}

          <h4>{{ nutrient }}: {{amount|round}}%</h4>
          
          <div class="progress progress-bar-sucess">
            {% if amount > 200 %} 
            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70"
            {% elif amount > 110 %}
            <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="70"
            {% elif amount > 80 and amount <= 110 %}
            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="70"
            {% else %}
            <div class="progress-bar" role="progressbar" aria-valuenow="70"
            {% endif %}
            aria-valuemin="0" aria-valuemax="100" style="width:{{amount}}%; text-align: center;">
              
            </div>
          </div>
        {% endfor %}
      </div>


      <div class="col-lg-5" style="margin-top:30px;">
        <table id="example" class="table table-striped table-bordered" cellspacing="0" width="100%" style="color: #000;background-color:#fff;margin-top:20px;">
          <thead style="background-color: #eee;">
            <tr>
              <th>Meal</th>
              <th>Recipe</th>
            </tr>
          </thead>
          <tbody>
            {% for meal in data.meals %}
              <tr>           
                <td>{{ meal.mealtype }}</td>
                <td><a href="/recipe/{{meal.recipeid}}">{{ meal.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-lg-6" style="margin-top:30px;">
        <h3>Past Meals</h3>
        <table id="history-table" class="table table-striped table-bordered" cellspacing="0" width="100%" style="color: #000;background-color:#fff;margin-top:20px;">
          <thead style="background-color: #eee;">
            <tr>
              <th>Meal</th>
              <th>Recipe</th>
            </tr>
          </thead>
          <tbody>
            {% for meal in data.meal_history %}
              <tr>           
                <td>{{ meal.mealtype }}</td>
                <td><a href="/recipe/{{meal.recipeid}}">{{ meal.name }}</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

      <div class="col-lg-6" style="margin-top:30px;">
        <h3>Recommended Meals</h3>
        <table id="recommend-table" class="table table-striped table-bordered" cellspacing="0" width="100%" style="color: #000;background-color:#fff;margin-top:20px;">
          <thead style="background-color: #eee;">
            <tr>
              
              <th>Recipe</th>
              <th>Add Meal</th>
            </tr>
          </thead>
          <tbody>
            {% for meal in data.meal_history %}
              <tr>           
                
                <td><a href="/recipe/{{meal.recipeid}}">{{ meal.name }}</a></td>
                <td><a href="/add/meal/{{meal.recipeid}}">Add</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
  </div>
  <script>
    $(document).ready(function() {
      $('#example').DataTable( {
          "paging":   false,
          "ordering": false,
          "info":     false,
          "searching":   false
      });
      $('#history-table').DataTable( {
          "paging":   false,
          "ordering": false,
          "info":     false,
          "searching":   false
      });
      $('#recommend-table').DataTable( {
          "paging":   false,
          "ordering": false,
          "info":     false,
          "searching":   false
      });
    } );
  </script>
{% endblock content %}