{% extends "base.html" %}
{% block content %}
<header id="first">
    <div class="header-content">
      <div class="inner">
        <h1 class="cursive">MacroTrack</h1>
        <h4>An easy way to plan healthy meals</h4>
        <hr>
        <a href="/new/user" class="btn btn-primary btn-xl">Sign Up</a> &nbsp; <a href="#one" class="btn btn-primary btn-xl page-scroll">Learn More</a>
      </div>
    </div>
    <img autoplay="" loop="" class="fillWidth fadeIn wow collapse in hero-gif" data-wow-delay="0.5s" src="{{ url_for('static', filename='img/hero2.gif') }}" id="video-background" style="filter: blur(5px);width:100vw;"/>
    <img autoplay="" loop="" class="fillWidth fadeIn wow collapse in hero-gif" data-wow-delay="0.5s" src="{{ url_for('static', filename='img/hero2.gif') }}" id="video-background" style="width:100vw;z-index:0;"/>
  </header>
  <section class="bg-primary" id="one">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 text-center">
          <h2 class="margin-top-0 text-primary">Choose from popular user recipes</h2>
          <div class="homepage-popular-recipes">
            {% for recipe in data.recipes %}
            <div class="col-lg-4 col-sm-6 text-center homepage-recipe-container" style="float:left;height:120px;">
              
              <h4>Recipe:</h4>
              
              <a href="/recipe/{{ recipe.recipe_id }}">
                {{ recipe.recipe_name }}<br/>
              </a>
              
            </div>
            {% endfor %}
          </div>
          <a href="/new/user" class="btn btn-default btn-xl page-scroll">Sign Up!</a>
        </div>
      </div>
    </div>
  </section>
{% endblock content %}